* {
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
}

window#waybar {
  background: #1e1e2e;
  border-bottom: 2px solid #89b4fa;
}

/* Иконки окон в рабочем пространстве */
#custom-active-windows {
  font-family: "Iosevka NFP";   /* Шрифт иконок */
  font-size: 30px;              /* Размер иконок */
  color: #00FFFF;               /* Цвет неактивных окон */
}

#battery {
    font-family: "Iosevka NF";
    font-size: 30px;
    padding-right: 20px;
}


