window#waybar {
  background: black;
  border-bottom: 1px solid #89b4fa;
}

/* Иконки окон в рабочем пространстве */
#custom-active-windows {
  font-family: "Iosevka NFP";   /* Шрифт иконок */
  font-size: 30px;              /* Размер иконок */
  color: #00FFFF;               /* Цвет неактивных окон */
}

#cpu,
#disk,
#memory,
#temperature,
#battery,
#network,
#language {
    font-family: "Iosevka NF Light";
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

#cpu.medium,
#battery.medium,
#network.disconnected,
#memory.medium { color: yellow; }

#cpu.high,
#battery.high,
#memory.high { color: orange; }

#cpu.critical,
#battery.high,
#temperature.critical,
#network.disabled,
#memory.critical { color: red; }



tooltip * {
    background-color: #3b4252;
    font-size: 40px;
}



