* {
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
}

window#waybar {
  background: #1e1e2e;
  border-bottom: 2px solid #89b4fa;
}

#custom-active-windows {
  padding: 0 8px;
  font-size: 20px;          
  color: #dddddd;           
}


